body{
background-color: burlywood;
font-family: Arial, Helvetica, sans-serif;
}
h1{
  color:beige;
  text-align: center;
}
.assign{
  background-color: coral;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.assign img {
  width: 200px;
  padding: 10px:
}
a{
  text-decoration:none;
  color: midnightblue; 
}
.assign img{
  padding: 10px;
  boarder: 2px solid midnightblue;
